/* 1.Static
2.Relative
LTRB
3.Absolute
LTRB
relation to relative property
4.Fixed- u can move anywhere on html file
5.Sticky */
.main{

}
.box-1{
    position: fixed;
top:0;
right:0;
}

.box-2{

    }

    .box-3{

    }
