
.food-menu-container{
    margin: 50px;
    padding: 25px 35px 25px 35px;
    min-height: 300px;
    min-width: 600px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

}


img{
    margin: 100px;
    width:120px;
    height:80px;
}

.food-menu-left{
    margin: 50px;
}